<ion-header>

  <ion-navbar>

    <ion-title>Rotalarım</ion-title>

    <ion-buttons end>
        <button ion-button icon-only (click)="newRoute()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <button ion-item *ngFor="let item of myRoutes | async" (click)="openRouteDetail(item)">

      <p *ngIf="item.owner == currentUser" >* {{ item.name }}</p>
      <p *ngIf="item.owner != currentUser" >{{ item.name }}</p>
    </button> 
  </ion-list>

  <ion-fab right bottom (click)="searchRoute()">
    <button ion-fab color="light"><ion-icon name="search"></ion-icon></button>
  </ion-fab>

</ion-content>